* {
    box-sizing: border-box;
}

:root {
    --lightColor: whitesmoke;
    --darkBrown: rgb(88, 79, 75);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--lightColor);
}

  /* Header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--lightColor);
}

.navBar li {
    display: inline-block;
    padding: 0px 15px;
}

.navElement > a {
    color: var(--darkBrown);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: orangered;
}

/*Banner*/
.hero-banner {
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    background: url(/images/pexels-pixabay-462023.jpg);
    background-size: cover;
    background-position: center;
}

.hero-banner h2 {
    color: var(--lightColor);
    font-size: 18px;
    font-weight: lighter;
    text-align: right;
    width: 100vw;
    padding: 15px;
    margin-top: 75px;
}

/*About me*/
.page-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 2vw 2vw;
}

#about {
    margin-bottom: 5px;
    align-content: center;
    min-width: 10em;
}

#aboutPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10em;
}

#aboutParagraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-left: 15px;
    border-left-width: 5px;
    border-left-color:var(--darkBrown);
    border-left-style: dotted;
}

#AndreaPhoto {
    width: 10em;
    border-radius: 80px;
}

/*Work*/
#workSection {
    min-width: 10em;
    margin-bottom: 5px;
}

/*Grid Settings*/
#workGridContainer {
    display: grid;
    min-height: 500px;
    width: 100%;
    padding: 30px;
    border-left: 15px;
    border-left-width: 5px;
    border-left-color: var(--darkBrown);
    border-left-style: dotted;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 150px 150px;
    grid-gap: 30px;
    grid-template-areas: 
        "horiseonCodeRefactor horiseonCodeRefactor"
        "comingSoon1 comingSoon2"
        "comingSoon3 comingSoon4"
}

#horiseonCodeRefactor {
    grid-area: horiseonCodeRefactor;
    background-image: url("../../images/WebScreenshot.png")
}

#comingSoon1 {
    grid-area: comingSoon1;
}

#comingSoon2 {
    grid-area: comingSoon2;
}

#comingSoon3 {
    grid-area: comingSoon3;
}

#comingSoon4 {
    grid-area: comingSoon4;
}

.gridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 8px;
    color: var(--lightColor);
    border: 4px solid var(--darkBrown);
    cursor: pointer;
    display: grid;
    align-content: end; 
    background-image: linear-gradient(to bottom,
        rgba(238, 135, 32, 0.5),
        rgba(113, 113, 164, 0.3)),
        url("../../images/Tanitakawkaw-Simple-Cute-My-computer.256.png");
} 

.gridArea h3 {
    background-color: var(--darkBrown);
    filter: drop-shadow(10px 5px 20px var(--darkBrown));
    color: var(--lightColor);
    text-align: left;
    font-weight: 100;
    padding-left: 8px;
    margin-right: 15px;
}

.gridArea:hover {
    transform: scale(1.05);
}

/*Contact me*/
#contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10em;
}

#contactSection2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 8px;
    border-left: 15px;
    border-left-width: 5px;
    border-left-color: var(--darkBrown);
    border-left-style: dotted;
}

.contactList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 2px;
    min-width: 10em;
}

.contactList li {
    justify-content: space-evenly;
    margin: 1.5em;
}

.contactLink > a {
    color: var(--darkBrown);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: orangered;
}

h1 {
    font-size: 1.7rem;
    background-color: var(--darkBrown);
    color: var(--lightColor);
    font-weight: 300;
    width: 16rem;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

h3, h4 {
    margin: 0;
    text-align: center;
    color: var(--darkBrown);
}

p {
    margin: 0;
}

/*Media queries*/
@media screen and (max-width: 616px) {

    /*section titles on the left side*/
    #about, #work, #contact {
        display: flex;
        flex-direction: column;
    }

    /* change flex direction from columt to row*/
    .contactList {
        display: block;
    }

    #workGridContainer {
        display: flex;
        flex-direction: column;
    }
}