* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(245, 240, 214);
}

  /* Header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(225, 243, 237);
}

.navBar li {
    display: inline-block;
    padding: 0px 15px;
}

.hero-banner {
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    background: url(/images/pexels-pixabay-462023.jpg);
    background-size: cover;
    background-position: center;
}

.hero-banner h2 {
    color: whitesmoke;
    font-size: 18px;
    font-weight: lighter;
    text-align: right;
    width: 100vw;
    padding: 15px;
    margin-top: 75px;
}

.page-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 2vw 2vw;
}

#about {
    margin-bottom: 5px;

}

#aboutPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutParagraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
    border-left: 15px ;
    border-left-width: 5px;
    border-left-color:rgb(230, 167, 32);
    border-left-style: dotted
}

#AndreaPhoto {
    width: 150px;
    border-radius: 80px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}
