* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(245, 240, 214);
}

  /* Header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(245, 240, 214);
}

.navBar li {
    display: inline-block;
    padding: 0px 15px;
}

.hero-banner {
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    background: url(/images/pexels-pixabay-462023.jpg);
    background-size: cover;
    background-position: center;
}

.hero-banner h2 {
    color: whitesmoke;
    font-size: 18px;
    font-weight: lighter;
    text-align: right;
    width: 100vw;
    padding: 15px;
    margin-top: 75px;
}

.page-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 2vw 2vw;
}

#about {
    margin-bottom: 5px;
    align-content: center;
    min-width: 10em;
}


#aboutPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    /*margin: 1em 2em;*/
}

#aboutParagraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
    border-left: 15px;
    border-left-width: 5px;
    border-left-color:orangered;
    border-left-style: dotted;
}

#AndreaPhoto {
    width: 10em;
    border-radius: 80px;
}

#workSection {
    min-width: 10em;
    margin-bottom: 5px;

}


/*Grid Settings*/

#workGridContainer {
    display: grid;
    min-height: 500px;
    width: 100%;
    padding: 80px;
    border-left: 15px;
    border-left-width: 5px;
    border-left-color:orangered;
    border-left-style: dotted;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 150px 150px;
    grid-gap: 30px;
    grid-template-areas: 
        "horiseonCodeRefactor horiseonCodeRefactor"
        "comingSoon1 comingSoon2"
        "comingSoon3 comingSoon4"
}

#horiseonCodeRefactor {
    grid-area: horiseonCodeRefactor;
    background-image: url("../../images/WebScreenshot.png")
}

#comingSoon1 {
    grid-area: comingSoon1;
}

#comingSoon2 {
    grid-area: comingSoon2;
}

#comingSoon3 {
    grid-area: comingSoon3;
}

#comingSoon4 {
    grid-area: comingSoon4;
}

.gridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 3px;
    color:  white;
    border-bottom: 10px solid orangered;
    cursor: pointer;
    display: grid;
    align-content: end; 
    background-image: linear-gradient(to bottom,
        rgba(216, 159, 27, 0.5),
        rgba(137, 137, 231, 0.3)),
        url("../../images/Tanitakawkaw-Simple-Cute-My-computer.256.png");
} 

#contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    /*margin: 1em 2em;*/
}

#contactSection2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 8px;
    border-left: 15px;
    border-left-width: 5px;
    border-left-color:orangered;
    border-left-style: dotted;
}

.contactList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 2px;
   /* min-width: 10em;*/
}

.contactList li {
    justify-content: space-evenly;
    margin: 1.5em;


}

h1,
h2,
h3,
h5,
h6 {
    margin: 0;
}

h2 {
    text-align: center;
}

h4 {
    margin: 0;
    text-align: center;
    color: orangered;
}

p {
    margin: 0;
}

